@import 'normalize.css';

:root {
    --primary-color: rgb(254, 44, 85);
    --text-color: #161832;
    --icon-color: #161832;
    --light-mode: #fff;

    // Scrollbar
    --scrollbar-width: 8px;
    --scrollbar-thumb-bg: rgba(22, 24, 35, 0.15);
    --scrollbar-track-bg: rgba(0, 0, 0, 0);

    // Default layout
    --default-layout-header-bg: var(--light-mode);
    --default-layout-header-height: 60px;
    --default-layout-header-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    --dafault-layout-header-search-bg: rgba(22, 24, 35, 0.06);
    --dafault-layout-header-search-border-color: rgba(22, 24, 35, 0.2);
    --dafault-layout-header-search-input-color: rgb(22, 24, 35);
    --dafault-layout-header-search-separate-bg: rgba(22, 24, 35, 0.12);
    --dafault-layout-header-search-btn-color: rgba(22, 24, 35, 0.06);
    --dafault-layout-header-search-icon-color: rgba(22, 24, 35, 0.34);
    --dafault-layout-header-search-icon-hover-color: rgb(22, 24, 35);
    --dafault-layout-header-search-title-color: rgba(22, 24, 35, 0.5);
    --dafault-layout-header-search-item-hover-bg: rgba(22, 24, 35, 0.08);
    --dafault-layout-header-search-user-name-color: rgba(22, 24, 35, 0.5);
    --dafault-layout-header-popper-bg: var(--light-mode);

    // Button
    --button-outline-bg: rgb(255, 255, 255);
    --button-outline-hover-bg: rgba(254, 44, 85, 0.06);
    --button-text-bg: rgb(255, 255, 255);
    --button-text-hover-bg: rgba(22, 24, 35, 0.03);

    // Menu
    --menu-item-hover-bg: rgba(22, 24, 35, 0.03);
    --menu-item-separate-color: rgba(22, 24, 35, 0.12);
    --menu-arrow-color: rgb(255, 255, 255);
}

[data-theme='dark'],
html.dark {
    --primary-color: rgb(255, 59, 92);
    --text-color: #fff;
    --icon-color: #fff;
    --dark-mode-bg: #121212;

    // Scrollbar
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.15);
    --scrollbar-track-bg: rgba(255, 255, 255, 0);

    // Default layout
    --default-layout-header-bg: var(--dark-mode-bg);
    --default-layout-header-box-shadow: rgba(255, 255, 255, 0.12) 0px 1px 1px;
    --dafault-layout-header-search-bg: rgba(255, 255, 255, 0.12);
    --dafault-layout-header-search-border-color: rgba(255, 255, 255, 0.2);
    --dafault-layout-header-search-input-color: rgb(255, 255, 255, 0.9);
    --dafault-layout-header-search-separate-bg: rgba(255, 255, 255, 0.12);
    --dafault-layout-header-search-btn-color: rgba(255, 255, 255, 0.12);
    --dafault-layout-header-search-icon-color: rgba(255, 255, 255, 0.34);
    --dafault-layout-header-search-icon-hover-color: rgb(255, 255, 255, 0.9);
    --dafault-layout-header-search-title-color: rgba(255, 255, 255, 0.5);
    --dafault-layout-header-search-item-hover-bg: rgba(255, 255, 255, 0.08);
    --dafault-layout-header-search-user-name-color: rgba(255, 255, 255, 0.5);
    --dafault-layout-header-popper-bg: rgba(17, 17, 17, 0.9);

    // Button
    --button-outline-bg: rgba(255, 255, 255, 0.08);
    --button-outline-hover-bg: rgba(255, 255, 255, 0.12);
    --button-text-bg: rgba(255, 255, 255, 0.08);
    --button-text-hover-bg: rgba(255, 255, 255, 0.12);

    // Menu
    --menu-item-hover-bg: rgba(255, 255, 255, 0.03);
    --menu-item-separate-color: rgba(255, 255, 255, 0.12);
    --menu-arrow-color: rgba(39, 38, 38, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// Fonts embedd
@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/fonts/TikTokDisplayFont-Semibold.woff2');
    font-weight: 600;
}

html,
body {
    overflow-y: overlay;
}

body {
    font-family: 'TikTokFont', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
}

// Scrollbar css
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: var(--scrollbar-width);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scrollbar-thumb-bg);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: var(--scrollbar-track-bg);
}

input,
button {
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
