.menu {
    min-width: 230px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.1rem;
}

// Menu item
.menu-item {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 10px 8px 10px 16px;
    background: transparent;

    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.2rem;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: var(--menu-item-hover-bg);
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
}

// Header
.header {
    position: relative;

    display: flex;
    align-items: center;
    margin-top: -8px;
    height: 50px;

    &-title {
        position: absolute;
        left: 50%;
        translate: -50%;
        font-weight: 600;
        font-size: 1.7rem;
        line-height: 2.1rem;
    }
}

.header:hover .back-btn {
    translate: -3px;
}

.back-btn {
    padding-left: 28px;
    font-size: 1.8rem;
    background: transparent;
    transition: 0.4s;
}
