.wrapper {
    height: var(--default-layout-header-height, 60px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    background: var(--default-layout-header-bg);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding-right: 24px;
    padding-left: 16px;
}
