.wrapper {
    height: var(--default-layout-header-height, 60px);
    box-shadow: var(--default-layout-header-box-shadow);
    background: var(--default-layout-header-bg);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding-right: 24px;
    padding-left: 16px;
}

.logo {
    display: flex;
    align-items: center;

    img {
        display: flex;
        align-items: center;
    }
}

.action,
.user {
    display: flex;
    align-items: center;
    gap: 12px;

    &-option {
        font-size: 1.8rem;
        padding: 0px 8px;
        background: transparent;
        cursor: pointer;
    }
}

.user {
    gap: 20px;

    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        cursor: pointer;
    }

    &-inbox {
        position: relative;

        &::after {
            content: '53';
            position: absolute;
            top: -8px;
            left: 16px;

            display: flex;
            align-items: center;
            justify-content: center;

            min-width: 20px;
            height: 20px;
            padding: 0px 6px;
            border-radius: 10px;
            background: var(--primary-color);

            color: #fff;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.8rem;
        }
    }

    &-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
}
